.App {
  text-align: center;
  background-image: url('./assets/background2.jpg');
  height: 100vh;
  color: white;
  padding-top: 100px;
}
h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 15px;
}
.quotes {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  padding: 0 150px;
}
h4 {
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  letter-spacing: 10px;
  color: whitesmoke;
}

.p-dropdown {
  padding-left: .8em;
  text-align: left;
}